@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply bg-[#e2e2e2] text-black box-border min-h-screen;
}

.signup-page,
.login-page {
  background-image: url("/kanban-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: right;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-rose-900 rounded-xl;
}

.task > ::-webkit-scrollbar-thumb {
  @apply bg-sky-500 rounded-xl;
}
